$primary:           #72166B;
$secondary-purple:  #3C0555;
$secondary-gray:    #5A5A5A;
$secondary-blue:    #BEBEBE;
$accent-pink:       #B71A8B;
$accent-blue:       #6687B7;
$accent-green:      #9BBD32;

$error-red:         #d9534f;
